MUSHROOM_STEW:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: MUSHROOM_STEW
WARPED_FUNGUS:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: WARPED_FUNGUS
BOWL:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: BOWL
CRIMSON_FUNGUS:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: CRIMSON_FUNGUS
BROWN_MUSHROOM:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: BROWN_MUSHROOM
RED_MUSHROOM:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: RED_MUSHROOM
Souls:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: ENDER_EYE
  meta:
    ==: ItemMeta
    meta-type: UNSPECIFIC
    display-name: '{"extra":[{"text":"Souls"}],"text":""}'
    lore:
    - '{"extra":[{"text":"Activity reward used in factories"}],"text":""}'
Souls1:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: ENDER_EYE
  meta:
    ==: ItemMeta
    meta-type: UNSPECIFIC
    display-name: '{"text":"","extra":[{"text":"Souls"}]}'
    lore:
    - '{"text":"","extra":[{"text":"Activity reward used in factories"}]}'
BLACK_DYE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: BLACK_DYE
COAL:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: COAL
WHITE_CONCRETE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: WHITE_CONCRETE
WHITE_CONCRETE_POWDER:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: WHITE_CONCRETE_POWDER
ORANGE_CONCRETE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: ORANGE_CONCRETE
ORANGE_CONCRETE_POWDER:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: ORANGE_CONCRETE_POWDER
MAGENTA_CONCRETE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: MAGENTA_CONCRETE
MAGENTA_CONCRETE_POWDER:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: MAGENTA_CONCRETE_POWDER
LIGHT_BLUE_CONCRETE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: LIGHT_BLUE_CONCRETE
LIGHT_BLUE_CONCRETE_POWDER:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: LIGHT_BLUE_CONCRETE_POWDER
YELLOW_CONCRETE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: YELLOW_CONCRETE
YELLOW_CONCRETE_POWDER:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: YELLOW_CONCRETE_POWDER
LIME_CONCRETE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: LIME_CONCRETE
LIME_CONCRETE_POWDER:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: LIME_CONCRETE_POWDER
PINK_CONCRETE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: PINK_CONCRETE
PINK_CONCRETE_POWDER:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: PINK_CONCRETE_POWDER
GRAY_CONCRETE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: GRAY_CONCRETE
GRAY_CONCRETE_POWDER:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: GRAY_CONCRETE_POWDER
LIGHT_GRAY_CONCRETE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: LIGHT_GRAY_CONCRETE
LIGHT_GRAY_CONCRETE_POWDER:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: LIGHT_GRAY_CONCRETE_POWDER
CYAN_CONCRETE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: CYAN_CONCRETE
CYAN_CONCRETE_POWDER:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: CYAN_CONCRETE_POWDER
PURPLE_CONCRETE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: PURPLE_CONCRETE
PURPLE_CONCRETE_POWDER:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: PURPLE_CONCRETE_POWDER
BLUE_CONCRETE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: BLUE_CONCRETE
BLUE_CONCRETE_POWDER:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: BLUE_CONCRETE_POWDER
BROWN_CONCRETE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: BROWN_CONCRETE
BROWN_CONCRETE_POWDER:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: BROWN_CONCRETE_POWDER
GREEN_CONCRETE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: GREEN_CONCRETE
GREEN_CONCRETE_POWDER:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: GREEN_CONCRETE_POWDER
RED_CONCRETE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: RED_CONCRETE
RED_CONCRETE_POWDER:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: RED_CONCRETE_POWDER
BLACK_CONCRETE:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: BLACK_CONCRETE
BLACK_CONCRETE_POWDER:
  ==: org.bukkit.inventory.ItemStack
  v: 2584
  type: BLACK_CONCRETE_POWDER
