recipe1:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: MUSHROOM_STEW
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - null
  - CRIMSON_FUNGUS
  - null
  - WARPED_FUNGUS
  - BOWL
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe2:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: MUSHROOM_STEW
  hidden: false
  recipe:
  - RED_MUSHROOM
  - BROWN_MUSHROOM
  - BOWL
  - null
  - null
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe3:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: Souls
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - Souls1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe4:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: BLACK_DYE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - COAL
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe5:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: WHITE_CONCRETE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - WHITE_CONCRETE_POWDER
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe6:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: ORANGE_CONCRETE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - ORANGE_CONCRETE_POWDER
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe7:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: MAGENTA_CONCRETE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - MAGENTA_CONCRETE_POWDER
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe8:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: LIGHT_BLUE_CONCRETE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - LIGHT_BLUE_CONCRETE_POWDER
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe9:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: YELLOW_CONCRETE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - YELLOW_CONCRETE_POWDER
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe10:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: LIME_CONCRETE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - LIME_CONCRETE_POWDER
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe11:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: PINK_CONCRETE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - PINK_CONCRETE_POWDER
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe12:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: GRAY_CONCRETE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - GRAY_CONCRETE_POWDER
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe13:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: LIGHT_GRAY_CONCRETE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - LIGHT_GRAY_CONCRETE_POWDER
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe14:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: CYAN_CONCRETE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - CYAN_CONCRETE_POWDER
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe15:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: PURPLE_CONCRETE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - PURPLE_CONCRETE_POWDER
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe16:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: BLUE_CONCRETE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - BLUE_CONCRETE_POWDER
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe17:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: BROWN_CONCRETE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - BROWN_CONCRETE_POWDER
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe18:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: GREEN_CONCRETE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - GREEN_CONCRETE_POWDER
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe19:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: RED_CONCRETE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - RED_CONCRETE_POWDER
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
recipe20:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: BLACK_CONCRETE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - BLACK_CONCRETE_POWDER
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: true
  shapeless: true
