 # Set to true if you want tapping a plant with bonemeal to double it.
allow_tallplant_replication: true

no_bonemeal_blocks:
  - SEA_PICKLE
  - KELP
  - KELP_PLANT
  - TWISTING_VINES
  - TWISTING_VINES_PLANT
  - WEEPING_VINES
  - WEEPING_VINES_PLANT
  - WARPED_FUNGUS
  - CRIMSON_FUNGUS

 # categories of biomes
biome_aliases:
  water:
  - BEACH
  - DEEP_OCEAN
  - RIVER
  - OCEAN
  - STONE_SHORE
  freshwater:
  - RIVER
  - FROZEN_RIVER
  cold_water:
  - SNOWY_BEACH
  - FROZEN_OCEAN
  - FROZEN_RIVER
  temperate:
  - PLAINS
  - SUNFLOWER_PLAINS
  - SAVANNA
  - SAVANNA_PLATEAU
  - SHATTERED_SAVANNA
  - SHATTERED_SAVANNA_PLATEAU
  foresty:
  - BIRCH_FOREST
  - BIRCH_FOREST_HILLS
  - DARK_FOREST
  - DARK_FOREST_HILLS
  - FLOWER_FOREST
  - FOREST
  - TALL_BIRCH_FOREST
  - TALL_BIRCH_HILLS
  - WOODED_HILLS
  cold:
  - ICE_SPIKES
  - GIANT_SPRUCE_TAIGA
  - GIANT_SPRUCE_TAIGA_HILLS
  - GIANT_TREE_TAIGA
  - GIANT_TREE_TAIGA_HILLS
  - TAIGA
  - TAIGA_HILLS
  - TAIGA_MOUNTAINS
  - SNOWY_TUNDRA
  - SNOWY_MOUNTAINS
  - SNOWY_TAIGA
  - SNOWY_TAIGA_HILLS
  - SNOWY_TAIGA_MOUNTAINS
  - MOUNTAINS
  - MOUNTAIN_EDGE
  - GRAVELLY_MOUNTAINS
  - MODIFIED_GRAVELLY_MOUNTAINS
  - WOODED_MOUNTAINS
  cold_forest:
  - GIANT_SPRUCE_TAIGA
  - GIANT_SPRUCE_TAIGA_HILLS
  - GIANT_TREE_TAIGA
  - GIANT_TREE_TAIGA_HILLS
  - TAIGA
  - TAIGA_HILLS
  - TAIGA_MOUNTAINS
  hot_dry:
  - DESERT
  - DESERT_HILLS
  - DESERT_LAKES
  - BADLANDS
  - BADLANDS_PLATEAU
  - ERODED_BADLANDS
  - WOODED_BADLANDS_PLATEAU
  hot_rainy:
  - JUNGLE
  - JUNGLE_EDGE
  - JUNGLE_HILLS
  - MODIFIED_JUNGLE
  - MODIFIED_JUNGLE_EDGE
  - SWAMP
  - SWAMP_HILLS
  mountain:
  - MOUNTAINS
  - MOUNTAIN_EDGE
  - GRAVELLY_MOUNTAINS
  - MODIFIED_GRAVELLY_MOUNTAINS
  - WOODED_MOUNTAINS
  mesa:
  - BADLANDS
  - BADLANDS_PLATEAU
  - ERODED_BADLANDS
  - WOODED_BADLANDS_PLATEAU
  - MODIFIED_BADLANDS_PLATEAU
  - MODIFIED_WOODED_BADLANDS_PLATEAU
  mushroom:
  - MUSHROOM_FIELDS
  - MUSHROOM_FIELD_SHORE
  swampy:
  - SWAMP
  - SWAMP_HILLS
  nether:
  - NETHER_WASTES
  - SOUL_SAND_VALLEY
  - CRIMSON_FOREST
  - WARPED_FOREST
  - BASALT_DELTAS  
  end:
  - END_BARRENS
  - END_HIGHLANDS
  - END_MIDLANDS
  - THE_VOID
  - THE_END
  other:
  - END_BARRENS
  - END_HIGHLANDS
  - END_MIDLANDS
  - THE_VOID
  - THE_END
  - NETHER_WASTES
  - SOUL_SAND_VALLEY
  - CRIMSON_FOREST
  - WARPED_FOREST
  - BASALT_DELTAS  


plants:
  NETHER_WART:
   persistent_growth_period: 2d
   name: Nether wart
   id: 1
   item:
     ==: org.bukkit.inventory.ItemStack
     type: NETHER_WART
     v: 1
   grower:
     type: ageable
     material: NETHER_WART
     max_stage: 3
     increment: 1
   vanilla_materials:
    - NETHER_WART
   needs_sun_light: false
   soil_max_layers: 5
   soil_boni:
     SOUL_SOIL: 0.5
   biomes:
    NETHER_WASTES: 1.0
  WARPED_FUNGUS:
   persistent_growth_period: 16h
   name: Warped Fungus
   grower:
     type: fungus
     material: WARPED_FUNGUS
   vanilla_materials:
    - WARPED_FUNGUS
   needs_sun_light: false
   id: 2
   item:
     ==: org.bukkit.inventory.ItemStack
     type: WARPED_FUNGUS
     v: 1
   biomes:
    WARPED_FOREST: 1.0
  CRIMSON_FUNGUS:
   persistent_growth_period: 16h
   name: Crimson Fungus
   grower:
     type: fungus
     material: CRIMSON_FUNGUS
   vanilla_materials:
    - CRIMSON_FUNGUS
   needs_sun_light: false
   id: 3
   item:
     ==: org.bukkit.inventory.ItemStack
     type: CRIMSON_FUNGUS
     v: 1
   biomes:
    CRIMSON_FOREST: 1.0
  TWISTING_VINES:
   persistent_growth_period: 2d
   name: Twisting Vines
   id: 4
   grower:
     type: column
     material: TWISTING_VINES
     max_height: 25
     direction: UP
   vanilla_materials:
    - TWISTING_VINES
   needs_sun_light: false 
   item:
     ==: org.bukkit.inventory.ItemStack
     type: TWISTING_VINES
     v: 1
   biomes:
    SOUL_SAND_VALLEY: 1.0
  WEEPING_VINES:
   persistent_growth_period: 2d
   name: Weeping Vines
   id: 5
   grower:
     type: column
     material: WEEPING_VINES
     max_height: 25
     direction: DOWN
   vanilla_materials:
    - WEEPING_VINES
   needs_sun_light: false 
   item:
     ==: org.bukkit.inventory.ItemStack
     type: WEEPING_VINES
     v: 1
   biomes:
    BASALT_DELTAS: 1.0
  BAMBOO:
   persistent_growth_period: 2d
   name: Bamboo
   id: 6
   grower:
     type: bamboo
     material: BAMBOO
     max_height: 12
   vanilla_materials:
    - BAMBOO
   needs_sun_light: false 
   item:
     ==: org.bukkit.inventory.ItemStack
     type: BAMBOO
     v: 1
   biomes:
    NETHER_WASTES: 1.0
  MELON:
   persistent_growth_period: 6h
   name: Melon
   id: 7
   item:
     ==: org.bukkit.inventory.ItemStack
     type: MELON
   can_be_planted: false
   soil_max_layers: 4
   soil_boni:
     CLAY: 0.5
   greenhouse_rates:
     GLOWSTONE: 0.5
     REDSTONE_LAMP: 0.5
     SEA_LANTERN: 0.5
     SHROOMLIGHT: 0.5
     LANTERN: 0.25
     SOUL_LANTERN: 0.25
     TORCH: 0.1
     SOUL_TORCH: 0.1
   grower:
     type: fruit
     material: MELON
     stem_type: MELON_STEM
     attached_stem_type: ATTACHED_MELON_STEM
   vanilla_materials:
    - ATTACHED_MELON_STEM
    - MELON_STEM
   needs_sun_light: false
   biomes:
    SOUL_SAND_VALLEY: 1.0
  MELON_STEM:
   persistent_growth_period: 1d
   name: Melon stem
   id: 8
   item:
     ==: org.bukkit.inventory.ItemStack
     type: MELON_SEEDS
     v: 1
   grower:
     type: stem
     material: MELON_STEM
     fruit_config: Melon
   needs_sun_light: false
   soil_max_layers: 4
   soil_boni:
     CLAY: 0.5
   greenhouse_rates:
     GLOWSTONE: 0.5
     REDSTONE_LAMP: 0.5
     SEA_LANTERN: 0.5
     SHROOMLIGHT: 0.5
     LANTERN: 0.25
     SOUL_LANTERN: 0.25
     TORCH: 0.1
     SOUL_TORCH: 0.1
   biomes:
    SOUL_SAND_VALLEY: 1.0

  OAK_SAPLING:
   persistent_growth_period: 10h
   name: Oak Tree
   id: 9
   grower:
     type: tree
     material: OAK_SAPLING
   vanilla_materials:
    - OAK_SAPLING
   item:
     ==: org.bukkit.inventory.ItemStack
     type: OAK_SAPLING
     v: 1
   needs_sun_light: false  
   greenhouse_rates:
     GLOWSTONE: 0.5
     REDSTONE_LAMP: 0.5
     SEA_LANTERN: 0.5
     SHROOMLIGHT: 0.5
     LANTERN: 0.25
     SOUL_LANTERN: 0.25
     TORCH: 0.1
     SOUL_TORCH: 0.1
   biomes:
    CRIMSON_FOREST: 1.0

  BIRCH_SAPLING:
   persistent_growth_period: 10h
   name: Birch Tree
   id: 10
   grower:
     type: tree
     material: BIRCH_SAPLING
   vanilla_materials:
    - BIRCH_SAPLING
   item:
     ==: org.bukkit.inventory.ItemStack
     type: BIRCH_SAPLING
     v: 1
   needs_sun_light: false  
   greenhouse_rates:
     GLOWSTONE: 0.5
     REDSTONE_LAMP: 0.5
     SEA_LANTERN: 0.5
     SHROOMLIGHT: 0.5
     LANTERN: 0.25
     SOUL_LANTERN: 0.25
     TORCH: 0.1
     SOUL_TORCH: 0.1
   biomes:
    WARPED_FOREST: 1.0

  SPRUCE_SAPLING:
   persistent_growth_period: 10h
   name: Spruce Tree
   id: 11
   grower:
     type: tree
     material: SPRUCE_SAPLING
   vanilla_materials:
    - SPRUCE_SAPLING
   item:
     ==: org.bukkit.inventory.ItemStack
     type: SPRUCE_SAPLING
     v: 1
   needs_sun_light: false  
   greenhouse_rates:
     GLOWSTONE: 0.5
     REDSTONE_LAMP: 0.5
     SEA_LANTERN: 0.5
     SHROOMLIGHT: 0.5
     LANTERN: 0.25
     SOUL_LANTERN: 0.25
     TORCH: 0.1
     SOUL_TORCH: 0.1
   biomes:
    CRIMSON_FOREST: 1.0

  JUNGLE_SAPLING:
   persistent_growth_period: 10h
   name: Jungle Tree
   id: 12
   grower:
     type: tree
     material: JUNGLE_SAPLING
   vanilla_materials:
    - JUNGLE_SAPLING
   item:
     ==: org.bukkit.inventory.ItemStack
     type: JUNGLE_SAPLING
     v: 1
   needs_sun_light: false  
   greenhouse_rates:
     GLOWSTONE: 0.5
     REDSTONE_LAMP: 0.5
     SEA_LANTERN: 0.5
     SHROOMLIGHT: 0.5
     LANTERN: 0.25
     SOUL_LANTERN: 0.25
     TORCH: 0.1
     SOUL_TORCH: 0.1
   biomes:
    WARPED_FOREST: 1.0

  ACACIA_SAPLING:
   persistent_growth_period: 10h
   name: Acacia Tree
   grower:
     type: tree
     material: ACACIA_SAPLING
   vanilla_materials:
    - ACACIA_SAPLING
   id: 13
   item:
     ==: org.bukkit.inventory.ItemStack
     type: ACACIA_SAPLING
     v: 1
   needs_sun_light: false  
   greenhouse_rates:
     GLOWSTONE: 0.5
     REDSTONE_LAMP: 0.5
     SEA_LANTERN: 0.5
     SHROOMLIGHT: 0.5
     LANTERN: 0.25
     SOUL_LANTERN: 0.25
     TORCH: 0.1
     SOUL_TORCH: 0.1
   biomes:
    WARPED_FOREST: 1.0

  DARK_OAK_SAPLING:
   persistent_growth_period: 10h
   name: Dark Oak Tree
   grower:
     type: tree
     material: DARK_OAK_SAPLING
   vanilla_materials:
    - DARK_OAK_SAPLING
   id: 14
   item:
     ==: org.bukkit.inventory.ItemStack
     type: DARK_OAK_SAPLING
     v: 1
   needs_sun_light: false  
   greenhouse_rates:
     GLOWSTONE: 0.5
     REDSTONE_LAMP: 0.5
     SEA_LANTERN: 0.5
     SHROOMLIGHT: 0.5
     LANTERN: 0.25
     SOUL_LANTERN: 0.25
     TORCH: 0.1
     SOUL_TORCH: 0.1
   biomes:
    CRIMSON_FOREST: 1.0

database:
  ==: vg.civcraft.mc.civmodcore.dao.ManagedDatasource
  plugin: RealisticBiomes
  user: '{{ shard.name }}'
  password: '{{ mysql_passwords [shard.name]}}'
  host: '{{ mysql_host }}'
  port: '{{ mysql_port }}'
  database: '{{ shard.name }}'
  poolsize: 5
  connection_timeout: 10000
  idle_timeout: 600000
  max_lifetime: 7200000  
