Items:
  Elytra:
    Price: 500000.0
    Icon:
      Id: elytra
      HideWithoutPermission: false
    RequiredJobLevels:
    - Explorer-50
    GiveItems:
      Elytra:
        Id: elytra
  Bamboo:
    Price: 100000.0
    Icon:
      Id: bamboo
      HideWithoutPermission: false
    RequiredJobLevels:
    - Lumberjack-35
    GiveItems:
      Bamboo:
        Id: bamboo
  ShulkerBox:
    Price: 550000.0
    Icon:
      Id: shulker_box
      HideWithoutPermission: false
    RequiredJobLevels:
    - Excavator-50
    GiveItems:
      ShulkerBox:
        Id: shulker_box
  Totem:
    Price: 600000.0
    Icon:
      Id: totem_of_undying
      HideWithoutPermission: false
    RequiredJobLevels:
    - Blacksmith-50
    GiveItems:
      Totem:
        Id: totem_of_undying
  SpiderEye:
    Price: 30000.0
    Icon:
      Id: spider_eye
      HideWithoutPermission: false
    RequiredJobLevels:
    - Farmer-25
    GiveItems:
      SpiderEye:
        Id: spider_eye
  MelonSeeds:
    Price: 100000.0
    Icon:
      Id: melon_seeds
      HideWithoutPermission: false
    RequiredJobLevels:
    - Alchemist-25
    GiveItems:
      MelonSeeds:
        Id: melon_seeds
  DragonBreath:
    Price: 20000.0
    Icon:
      Id: dragon_breath
      HideWithoutPermission: false
    RequiredJobLevels:
    - Alchemist-40
    DragonBreath:
      GiveItems:
        Id: dragon_breath
  RabbitsFoot:
    Price: 25000.0
    Icon:
      Id: rabbit_foot
      HideWithoutPermission: false
    RequiredJobLevels:
    - Alchemist-45
    GiveItems:
      RabbitsFoot:
        Id: rabbit_foot
  Oak:
    Price: 70000.0
    Icon:
      Id: oak_sapling
      HideWithoutPermission: false
    RequiredJobLevels:
    - Builder-25
    GiveItems:
      Oak:
        Id: oak_sapling
  Birch:
    Price: 70000.0
    Icon:
      Id: birch_sapling
      HideWithoutPermission: false
    RequiredJobLevels:
    - Builder-25
    GiveItems:
      Birch:
        Id: birch_sapling
  Spruce:
    Price: 25000.0
    Icon:
      Id: spruce_sapling
      HideWithoutPermission: false
    RequiredJobLevels:
    - Builder-30
    GiveItems:
      Spruce:
        Id: spruce_sapling
  Jungle:
    Price: 25000.0
    Icon:
      Id: jungle_sapling
      HideWithoutPermission: false
    RequiredJobLevels:
    - Builder-32
    GiveItems:
      Jungle:
        Id: jungle_sapling
  Acacia:
    Price: 25000.0
    Icon:
      Id: acacia_sapling
      HideWithoutPermission: false
    RequiredJobLevels:
    - Builder-34
    GiveItems:
      Acacia:
        Id: acacia_sapling
  Dark_Oak:
    Price: 25000.0
    Icon:
      Id: dark_oak_sapling
      HideWithoutPermission: false
    RequiredJobLevels:
    - Builder-35
    GiveItems:
      Dark_Oak:
        Id: dark_oak_sapling
  Trident:
    Price: 1100000.0
    Icon:
      Id: trident
      HideWithoutPermission: false
    RequiredJobLevels:
    - Farmer-50
    GiveItems:
      Trident:
        Id: trident
  Mutton:
    Price: 1000.0
    Icon:
      Id: COOKED_MUTTON
      HideWithoutPermission: false
    RequiredJobLevels:
    - Explorer-5
    GiveItems:
      Mutton:
        Id: COOKED_MUTTON
        Amount: 16
  Shears:
    Price: 1000.0
    Icon:
      Id: SHEARS
      HideWithoutPermission: false
    RequiredJobLevels:
    - Farmer-5
    GiveItems:
      shears:
        Id: SHEARS
        Amount: 1
  Ironpick:
    Price: 1000.0
    Icon:
      Id: IRON_PICKAXE
      HideWithoutPermission: false
    RequiredJobLevels:
    - Excavator-5
    GiveItems:
      iropick:
        Id: IRON_PICKAXE
        Enchants:
        - DIG_SPEED=3
  Ironaxe:
    Price: 1000.0
    Icon:
      Id: IRON_AXE
      HideWithoutPermission: false
    RequiredJobLevels:
    - Lumberjack-5
    GiveItems:
      iroaxe:
        Id: IRON_AXE
        Enchants:
        - DIG_SPEED=2
  redstonelamp:
    Price: 1000.0
    Icon:
      Id: REDSTONE_LAMP
      HideWithoutPermission: false
    RequiredJobLevels:
    - Builder-5
    GiveItems:
      redstonelamp:
        Id: REDSTONE_LAMP
        Amount: 4
