[
  {
    "uuid": "3e793264-a25a-4aa8-8104-0bc409694e4c",
    "name": "Maxopoly",
    "level": 4,
    "bypassesPlayerLimit": true
  },
  {
    "uuid": "07cee45d-0b81-4822-acf9-450a74edb207",
    "name": "Relaxer",
    "level": 4,
    "bypassesPlayerLimit": true
  },
  {
    "uuid": "638af9c6-c734-45d9-b092-13a4e184f7f6",
    "name": "Diet_Cola",
    "level": 4,
    "bypassesPlayerLimit": true
  },
  {
    "uuid": "ae59ceb5-ec0c-4f09-939b-1231116bd732",
    "name": "MCSPenguin",
    "level": 4,
    "bypassesPlayerLimit": true
  },
  {
    "uuid": "23068d2b-9421-44a4-8db5-745ff921bad9",
    "name": "ProgrammerDan",
    "level": 4,
    "bypassesPlayerLimit": true
  }
]
