Builder:
  fullname: Builder
  shortname: B
  description: Earns money for building structures.
  ChatColour: WHITE
  chat-display: full
  max-level: 666
  leveling-progression-equation: 10*(joblevel*joblevel)+(joblevel*joblevel*4)
  income-progression-equation: baseincome+(baseincome*(joblevel-1)*0.01)-((baseincome+(baseincome*(joblevel-1)*0.01))
    * ((numjobs-1)*0.05))
  points-progression-equation: basepoints
  experience-progression-equation: baseexperience
  rejoinCooldown: 10
  maxDailyQuests: 1
  Quests:
    '1':
      Name: Nether Architect
      Objectives:
      - Place;crimson_stem;50
      - Place;warped_stem;50
      - Place;nether_bricks;4
      RewardCommands:
      - jobs editpoints add [playerName] 100
      - jobs exp add [playerName] 100
      - msg [playerName] Completed quest!
      RewardDesc:
      - Place blocks and
      - Get 100 points & exp for this!
    '2':
      Name: Nether Lighting
      Objectives:
      - Place;shroomlight;20
      - Place;glowstone;20
      - Place;soul_torch;64
      RewardCommands:
      - jobs editpoints add [playerName] 100
      - jobs exp add [playerName] 100
      - msg [playerName] Completed quest!
      RewardDesc:
      - Place blocks and
      - Get 100 points & exp for this!
    '3':
      Name: A bit of normality
      Objectives:
      - Place;dirt;64
      - Place;grass;1
      - Place;redstone_lamp;4
      RewardCommands:
      - jobs editpoints add [playerName] 100
      - jobs exp add [playerName] 100
      - msg [playerName] Completed quest!
      RewardDesc:
      - Place blocks and
      - Get 100 points & exp for this!
  Gui:
    Item: brick_stairs
  Place:
    stone:
      income: 0.0
      points: 2.0
      experience: 2.0
    andesite:
      income: 0.0
      points: 2.0
      experience: 2.0
    granite:
      income: 0.0
      points: 2.0
      experience: 2.0
    diorite:
      income: 0.0
      points: 2.0
      experience: 2.0
    cobblestone:
      income: 0.0
      points: 2.0
      experience: 2.0
    oak_planks:
      income: 0.0
      points: 2.0
      experience: 2.0
    spruce_planks:
      income: 0.0
      points: 2.0
      experience: 2.0
    birch_planks:
      income: 0.0
      points: 2.0
      experience: 2.0
    jungle_planks:
      income: 0.0
      points: 2.0
      experience: 2.0
    acacia_planks:
      income: 0.0
      points: 2.0
      experience: 2.0
    dark_oak_planks:
      income: 0.0
      points: 2.0
      experience: 2.0
    wool:
      income: 0.0
      points: 2.0
      experience: 2.0
    gold_block:
      income: 0.0
      points: 2.0
      experience: 2.0
    iron_block:
      income: 0.0
      points: 2.0
      experience: 2.0
    oak_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    spruce_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    birch_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    jungle_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    acacia_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    dark_oak_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    stone_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    sandstone_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    petrified_oak_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    cobblestone_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    brick_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    stone_brick_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    nether_brick_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    quartz_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    red_sandstone_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    purpur_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    bricks:
      income: 0.0
      points: 2.0
      experience: 2.0
    bookshelf:
      income: 0.0
      points: 2.0
      experience: 2.0
    mossy_cobblestone:
      income: 0.0
      points: 2.0
      experience: 2.0
    obsidian:
      income: 0.0
      points: 2.0
      experience: 2.0
    cobblestone_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    acacia_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    birch_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    brick_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    dark_oak_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    dark_prismarine_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    jungle_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    oak_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    prismarine_brick_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    prismarine_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    purpur_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    quartz_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    red_sandstone_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    sandstone_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    spruce_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    stone_brick_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    chest:
      income: 0.0
      points: 2.0
      experience: 2.0
    diamond_block:
      income: 0.0
      points: 2.0
      experience: 2.0
    crafting_table:
      income: 0.0
      points: 2.0
      experience: 2.0
    furnace:
      income: 0.0
      points: 2.0
      experience: 2.0
    ladder:
      income: 0.0
      points: 2.0
      experience: 2.0
    ice:
      income: 0.0
      points: 2.0
      experience: 2.0
    snow_block:
      income: 0.0
      points: 2.0
      experience: 2.0
    jukebox:
      income: 0.0
      points: 2.0
      experience: 2.0
    oak_fence:
      income: 0.0
      points: 2.0
      experience: 2.0
    spruce_fence:
      income: 0.0
      points: 2.0
      experience: 2.0
    birch_fence:
      income: 0.0
      points: 2.0
      experience: 2.0
    jungle_fence:
      income: 0.0
      points: 2.0
      experience: 2.0
    acacia_fence:
      income: 0.0
      points: 2.0
      experience: 2.0
    dark_oak_fence:
      income: 0.0
      points: 2.0
      experience: 2.0
    oak_fence_gate:
      income: 0.0
      points: 2.0
      experience: 2.0
    spruce_fence_gate:
      income: 0.0
      points: 2.0
      experience: 2.0
    birch_fence_gate:
      income: 0.0
      points: 2.0
      experience: 2.0
    jungle_fence_gate:
      income: 0.0
      points: 2.0
      experience: 2.0
    acacia_fence_gate:
      income: 0.0
      points: 2.0
      experience: 2.0
    dark_oak_fence_gate:
      income: 0.0
      points: 2.0
      experience: 2.0
    glowstone:
      income: 0.0
      points: 2.0
      experience: 2.0
    glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    white_stained_glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    orange_stained_glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    magenta_stained_glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    light_blue_stained_glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    yellow_stained_glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    lime_stained_glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    pink_stained_glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    gray_stained_glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    light_gray_stained_glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    cyan_stained_glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    purple_stained_glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    blue_stained_glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    brown_stained_glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    green_stained_glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    red_stained_glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    black_stained_glass:
      income: 0.0
      points: 2.0
      experience: 2.0
    iron_trapdoor:
      income: 0.0
      points: 2.0
      experience: 2.0
    oak_trapdoor:
      income: 0.0
      points: 2.0
      experience: 2.0
    spruce_trapdoor:
      income: 0.0
      points: 2.0
      experience: 2.0
    birch_trapdoor:
      income: 0.0
      points: 2.0
      experience: 2.0
    jungle_trapdoor:
      income: 0.0
      points: 2.0
      experience: 2.0
    acacia_trapdoor:
      income: 0.0
      points: 2.0
      experience: 2.0
    dark_oak_trapdoor:
      income: 0.0
      points: 2.0
      experience: 2.0
    stone_bricks:
      income: 0.0
      points: 2.0
      experience: 2.0
    mossy_stone_bricks:
      income: 0.0
      points: 2.0
      experience: 2.0
    cracked_stone_bricks:
      income: 0.0
      points: 2.0
      experience: 2.0
    chiseled_stone_bricks:
      income: 0.0
      points: 2.0
      experience: 2.0
    iron_bars:
      income: 0.0
      points: 2.0
      experience: 2.0
    glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    white_stained_glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    orange_stained_glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    magenta_stained_glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    light_blue_stained_glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    yellow_stained_glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    lime_stained_glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    pink_stained_glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    gray_stained_glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    light_gray_stained_glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    cyan_stained_glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    purple_stained_glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    blue_stained_glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    brown_stained_glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    green_stained_glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    red_stained_glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    black_stained_glass_pane:
      income: 0.0
      points: 2.0
      experience: 2.0
    nether_bricks:
      income: 0.0
      points: 2.0
      experience: 2.0
    nether_brick_fence:
      income: 0.0
      points: 2.0
      experience: 2.0
    nether_brick_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    enchanting_table:
      income: 0.0
      points: 2.0
      experience: 2.0
    end_portal_frame:
      income: 0.0
      points: 2.0
      experience: 2.0
    redstone_lamp:
      income: 0.0
      points: 2.0
      experience: 2.0
    ender_chest:
      income: 0.0
      points: 2.0
      experience: 2.0
    emerald_block:
      income: 0.0
      points: 2.0
      experience: 2.0
    cobblestone_wall:
      income: 0.0
      points: 2.0
      experience: 2.0
    mossy_cobblestone_wall:
      income: 0.0
      points: 2.0
      experience: 2.0
    trapped_chest:
      income: 0.0
      points: 2.0
      experience: 2.0
    redstone_block:
      income: 0.0
      points: 2.0
      experience: 2.0
    hopper:
      income: 0.0
      points: 2.0
      experience: 2.0
    quartz_block:
      income: 0.0
      points: 2.0
      experience: 2.0
    smooth_quartz:
      income: 0.0
      points: 2.0
      experience: 2.0
    quartz_pillar:
      income: 0.0
      points: 2.0
      experience: 2.0
    chiseled_quartz_block:
      income: 0.0
      points: 2.0
      experience: 2.0
    terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    white_terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    orange_terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    magenta_terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    light_blue_terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    yellow_terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    lime_terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    pink_terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    gray_terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    light_gray_terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    cyan_terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    purple_terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    blue_terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    brown_terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    green_terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    red_terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    black_terracotta:
      income: 0.0
      points: 2.0
      experience: 2.0
    oak_leaves:
      income: 0.0
      points: 2.0
      experience: 2.0
    spruce_leaves:
      income: 0.0
      points: 2.0
      experience: 2.0
    birch_leaves:
      income: 0.0
      points: 2.0
      experience: 2.0
    jungle_leaves:
      income: 0.0
      points: 2.0
      experience: 2.0
    acacia_leaves:
      income: 0.0
      points: 2.0
      experience: 2.0
    dark_oak_leaves:
      income: 0.0
      points: 2.0
      experience: 2.0
    prismarine:
      income: 0.0
      points: 2.0
      experience: 2.0
    prismarine_bricks:
      income: 0.0
      points: 2.0
      experience: 2.0
    dark_prismarine:
      income: 0.0
      points: 2.0
      experience: 2.0
    sea_lantern:
      income: 0.0
      points: 2.0
      experience: 2.0
    hay_block:
      income: 0.0
      points: 2.0
      experience: 2.0
    coal_block:
      income: 0.0
      points: 2.0
      experience: 2.0
    packed_ice:
      income: 0.0
      points: 2.0
      experience: 2.0
    red_sandstone:
      income: 0.0
      points: 2.0
      experience: 2.0
    chiseled_red_sandstone:
      income: 0.0
      points: 2.0
      experience: 2.0
    cut_red_sandstone:
      income: 0.0
      points: 2.0
      experience: 2.0
    warped_stem:
      income: 0.0
      points: 2.0
      experience: 2.0
    crimson_stem:
      income: 0.0
      points: 2.0
      experience: 2.0
    crimson_planks:
      income: 0.0
      points: 2.0
      experience: 2.0
    warped_planks:
      income: 0.0
      points: 2.0
      experience: 2.0
    blackstone:
      income: 0.0
      points: 2.0
      experience: 2.0
    polished_blackstone:
      income: 0.0
      points: 2.0
      experience: 2.0
    polished_blackstone_bricks:
      income: 0.0
      points: 2.0
      experience: 2.0
    chiseled_polished_blackstone:
      income: 0.0
      points: 2.0
      experience: 2.0
    cracked_polished_blackstone_bricks:
      income: 0.0
      points: 2.0
      experience: 2.0
    blackstone_wall:
      income: 0.0
      points: 2.0
      experience: 2.0
    polished_blackstone_wall:
      income: 0.0
      points: 2.0
      experience: 2.0
    polished_blackstone_brick_wall:
      income: 0.0
      points: 2.0
      experience: 2.0
    blackstone_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    polished_blackstone_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    polished_blackstone_brick_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    blackstone_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    polished_blackstone_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    polished_blackstone_brick_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    gilded_blackstone:
      income: 0.0
      points: 2.0
      experience: 2.0
    polished_basalt:
      income: 0.0
      points: 2.0
      experience: 2.0
    basalt:
      income: 0.0
      points: 2.0
      experience: 2.0
    warped_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    warped_slab:
      income: 0.0
      points: 2.0
      experience: 2.0
    crimson_stairs:
      income: 0.0
      points: 2.0
      experience: 2.0
    smooth_stone:
      income: 0.0
      points: 2.0
      experience: 2.0
    polished_andesite:
      income: 0.0
      points: 2.0
      experience: 2.0
    polished_granite:
      income: 0.0
      points: 2.0
      experience: 2.0
    polished_diorite:
      income: 0.0
      points: 2.0
      experience: 2.0
    white_concrete_powder:
      income: 0.0
      points: 2.0
      experience: 2.0
    orange_concrete_powder:
      income: 0.0
      points: 2.0
      experience: 2.0
    magenta_concrete_powder:
      income: 0.0
      points: 2.0
      experience: 2.0
    light_blue_concrete_powder:
      income: 0.0
      points: 2.0
      experience: 2.0
    yellow_concrete_powder:
      income: 0.0
      points: 2.0
      experience: 2.0
    lime_concrete_powder:
      income: 0.0
      points: 2.0
      experience: 2.0
    pink_concrete_powder:
      income: 0.0
      points: 2.0
      experience: 2.0
    gray_concrete_powder:
      income: 0.0
      points: 2.0
      experience: 2.0
    light_gray_concrete_powder:
      income: 0.0
      points: 2.0
      experience: 2.0
    cyan_concrete_powder:
      income: 0.0
      points: 2.0
      experience: 2.0
    purple_concrete_powder:
      income: 0.0
      points: 2.0
      experience: 2.0
    blue_concrete_powder:
      income: 0.0
      points: 2.0
      experience: 2.0
    brown_concrete_powder:
      income: 0.0
      points: 2.0
      experience: 2.0
    green_concrete_powder:
      income: 0.0
      points: 2.0
      experience: 2.0
    red_concrete_powder:
      income: 0.0
      points: 2.0
      experience: 2.0
    black_concrete_powder:
      income: 0.0
      points: 2.0
      experience: 2.0
    white_concrete:
      income: 0.0
      points: 2.0
      experience: 2.0
    orange_concrete:
      income: 0.0
      points: 2.0
      experience: 2.0
    magenta_concrete:
      income: 0.0
      points: 2.0
      experience: 2.0
    light_blue_concrete:
      income: 0.0
      points: 2.0
      experience: 2.0
    yellow_concrete:
      income: 0.0
      points: 2.0
      experience: 2.0
    lime_concrete:
      income: 0.0
      points: 2.0
      experience: 2.0
    pink_concrete:
      income: 0.0
      points: 2.0
      experience: 2.0
    gray_concrete:
      income: 0.0
      points: 2.0
      experience: 2.0
    light_gray_concrete:
      income: 0.0
      points: 2.0
      experience: 2.0
    cyan_concrete:
      income: 0.0
      points: 2.0
      experience: 2.0
    purple_concrete:
      income: 0.0
      points: 2.0
      experience: 2.0
    blue_concrete:
      income: 0.0
      points: 2.0
      experience: 2.0
    brown_concrete:
      income: 0.0
      points: 2.0
      experience: 2.0
    green_concrete:
      income: 0.0
      points: 2.0
      experience: 2.0
    red_concrete:
      income: 0.0
      points: 2.0
      experience: 2.0
    black_concrete:
      income: 0.0
      points: 2.0
      experience: 2.0
    chain:
      income: 0.0
      points: 2.0
      experience: 2.0
    quartz_bricks:
      income: 0.0
      points: 2.0
      experience: 2.0
    end_rod:
      income: 0.0
      points: 2.0
      experience: 2.0
    chiseled_quartz_block:
      income: 0.0
      points: 2.0
      experience: 2.0
    rail:
      income: 0.0
      points: 2.0
      experience: 2.0
    powered_rail:
      income: 0.0
      points: 2.0
      experience: 2.0
    detector_rail:
      income: 0.0
      points: 2.0
      experience: 2.0
    activator_rail:
      income: 0.0
      points: 2.0
      experience: 2.0
